USE [master]
GO
/****** Object:  Database [Examen]    Script Date: 14/03/2018 22:47:37 ******/
CREATE DATABASE [Examen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Examen', FILENAME = N'F:\SQLSERVER2014\Examen.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Examen_log', FILENAME = N'F:\SQLSERVER2014\Examen_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Examen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Examen]
GO
/****** Object:  Table [dbo].[Banco]    Script Date: 14/03/2018 22:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Banco](
	[IdBanco] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Banco] PRIMARY KEY CLUSTERED 
(
	[IdBanco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrdenesPago]    Script Date: 14/03/2018 22:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrdenesPago](
	[IdOrdenPago] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NULL,
	[Monto] [money] NULL,
	[Moneda] [varchar](20) NULL,
	[Estado] [varchar](20) NULL,
	[FechaPago] [datetime] NULL,
 CONSTRAINT [PK_OrdenesPago] PRIMARY KEY CLUSTERED 
(
	[IdOrdenPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 14/03/2018 22:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sucursales](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[IdBanco] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Sucursales] PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Banco] ON 

INSERT [dbo].[Banco] ([IdBanco], [Nombre], [Direccion], [FechaRegistro]) VALUES (1, N'BCP', N'Direccion 1', CAST(N'2018-03-13 00:00:00.000' AS DateTime))
INSERT [dbo].[Banco] ([IdBanco], [Nombre], [Direccion], [FechaRegistro]) VALUES (2, N'BBVA Continental', N'Direccion 2', CAST(N'2018-03-13 00:00:00.000' AS DateTime))
INSERT [dbo].[Banco] ([IdBanco], [Nombre], [Direccion], [FechaRegistro]) VALUES (3, N'Interbank', N'Direccion 3', NULL)
SET IDENTITY_INSERT [dbo].[Banco] OFF
SET IDENTITY_INSERT [dbo].[OrdenesPago] ON 

INSERT [dbo].[OrdenesPago] ([IdOrdenPago], [IdSucursal], [Monto], [Moneda], [Estado], [FechaPago]) VALUES (1, 1, 100.0000, N'soles', N'pagada', CAST(N'2018-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[OrdenesPago] ([IdOrdenPago], [IdSucursal], [Monto], [Moneda], [Estado], [FechaPago]) VALUES (2, 1, 50.0000, N'dolares', N'declinada', CAST(N'2018-03-01 00:00:00.000' AS DateTime))
INSERT [dbo].[OrdenesPago] ([IdOrdenPago], [IdSucursal], [Monto], [Moneda], [Estado], [FechaPago]) VALUES (3, 1, 150.0000, N'soles', N'fallida', CAST(N'2018-03-03 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrdenesPago] OFF
SET IDENTITY_INSERT [dbo].[Sucursales] ON 

INSERT [dbo].[Sucursales] ([IdSucursal], [IdBanco], [Nombre], [Direccion], [FechaRegistro]) VALUES (1, 1, N'Sucursal San Juan', N'Direccion 1', CAST(N'2018-03-13 00:00:00.000' AS DateTime))
INSERT [dbo].[Sucursales] ([IdSucursal], [IdBanco], [Nombre], [Direccion], [FechaRegistro]) VALUES (2, 1, N'Sucursal Villa El Salvador', N'Direccion 2', CAST(N'2018-03-13 00:00:00.000' AS DateTime))
INSERT [dbo].[Sucursales] ([IdSucursal], [IdBanco], [Nombre], [Direccion], [FechaRegistro]) VALUES (3, 2, N'Sucursal San Borja', N'Direccion 3', CAST(N'2018-03-13 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sucursales] OFF
/****** Object:  StoredProcedure [dbo].[ObtenerOrdenesPagoSucursal]    Script Date: 14/03/2018 22:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Gabriel Osorio
-- Create date: 2018-03-13
-- Description:	Busca las ordenes de pago de
--				una sucursal
-- ============================================= 
CREATE PROCEDURE [dbo].[ObtenerOrdenesPagoSucursal]
	@sucursal	varchar(20)	= NULL,
	@moneda		varchar(20)	= NULL
AS
BEGIN 

	SELECT a.* FROM [dbo].[OrdenesPago] a INNER JOIN [dbo].[Sucursales] b
	on a.IdSucursal = b.IdSucursal
	WHERE nombre = @sucursal and Moneda = @moneda

END 

GO
/****** Object:  StoredProcedure [dbo].[ObtenerSucursalesPorbanco]    Script Date: 14/03/2018 22:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		Gabriel Osorio
-- Create date: 2018-03-13
-- Description:	Busca las sucursales de un banco
-- ============================================= 
CREATE PROCEDURE [dbo].[ObtenerSucursalesPorbanco]
	@banco	varchar(50)	= NULL
AS
BEGIN 

	SELECT b.* FROM [dbo].[Banco] a 
	INNER JOIN [dbo].[Sucursales] b
	on a.IdBanco = b.IdBanco
	WHERE a.nombre like '%' + @banco + '%'

END 


GO
USE [master]
GO
